<style type="text/css">
  p {
    color: red;
  }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%#= @trivium.title %>
  <%= best_in_place @trivium, :title %>
</p>

<% if @trivium.title == "Jack" %>
<p>yo</p>
<% else %>
<p>hey</p>
<% end %>

<p>
  <strong>Email:</strong>
  <%#= @trivium.title %>
  <%= best_in_place @trivium, :email %>
</p>

<ul>
  <% @trivium.questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_trivium_path(@trivium) %> |
<%= link_to 'Back', trivia_path %>
